In [22]:
import numpy as np
import pandas as pd
from scipy.integrate import quad as integrate

In [2]:
def GLCG(x0):
    a,b,m = 625,6571,31104
    while True:
        x0 = (a*x0+b)%m
        yield x0/m

glcg = GLCG(69)

def U(a,b):
    return a+(b-a)*next(glcg)

In [24]:
E = 2
S = integrate(lambda x: np.exp(2*x**0.5), 0,1)[0] - E**2
S = S**0.5

In [28]:
results = {}
for N in (10**2//2,10**2,10**3//2,10**3,10**4//2,10**4,10**5//2,10**5):
    print("N =",N)
    
    I1 = list(
            np.exp(U(0,1)**0.5) 
        for i in range(N))
    
    I2 = list(
            (np.exp(U(0,1)**0.5)+ np.exp((1-U(0,1))**0.5))/2
        for i in range(N))
        
    E1 = sum(I1)/N
    E2 = sum(I2)/N
    
    Sn1 = sum( (x-E1)**2 for x in I1 )/(N-1)
    Sn1 = Sn1**0.5
    Sn2 = sum( (x-E2)**2 for x in I2 )/(N-1)
    Sn2 = Sn2**0.5
    
    inter1 = (E1 - 1.96 * Sn1/N**0.5, E1 + 1.96 * Sn1/N**0.5)
    inter2 = (E2 - 1.96 * Sn2/N**0.5, E2 + 1.96 * Sn2/N**0.5)
    interval_true = (E - 1.96 * S/N**0.5, E + 1.96 * S/N**0.5)

    inter1 = tuple(map(lambda x: round(x,4), inter1))
    inter2 = tuple(map(lambda x: round(x,4), inter2))
    interval_true = tuple(map(lambda x: round(x,4), interval_true))
    
    results[N] = [E1, E2, inter1, inter2, interval_true, (inter1[1]-inter1[0])/(inter2[1]-inter2[0])]
    
    
results = pd.DataFrame(results).T
results.columns = ["E1","E2", "Interval 1", "Interval 2", "True interval", "Ratio |I1| / |I2|"]


results

N = 50
N = 100
N = 500
N = 1000
N = 5000
N = 10000
N = 50000
N = 100000

,E1,E2,Interval 1,Interval 2,True interval,Ratio |I1| / |I2|
50,1.97317,2.003301,"(1.8471, 2.0992)","(1.9099, 2.0967)","(1.8777, 2.1223)",1.349572
100,1.972037,1.995603,"(1.8912, 2.0529)","(1.9378, 2.0534)","(1.9136, 2.0864)",1.398789
500,2.020434,1.986022,"(1.9825, 2.0583)","(1.9571, 2.015)","(1.9613, 2.0387)",1.309154
1000,2.009123,1.990989,"(1.9821, 2.0361)","(1.9713, 2.0106)","(1.9727, 2.0273)",1.374046
5000,2.005114,2.001451,"(1.9929, 2.0173)","(1.9928, 2.0101)","(1.9878, 2.0122)",1.410405
10000,2.000177,1.998218,"(1.9915, 2.0088)","(1.9921, 2.0044)","(1.9914, 2.0086)",1.406504
50000,2.000406,1.999873,"(1.9965, 2.0043)","(1.9971, 2.0026)","(1.9961, 2.0039)",1.418182
100000,1.999584,2.00001,"(1.9968, 2.0023)","(1.9981, 2.0019)","(1.9973, 2.0027)",1.447368

#### Observation
Interval 1 is about 40% longer than I2.
They converge to the true interval because of reasons mentioned in lab 6.